@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Joel performs regularly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>
    <p>Check out <a href="https://baconsale.com/" target="_blank">Baconsale</a>, where Joel shares his insights.</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" alt="Joel at Baconsale" style="max-width:100%;height:auto;">
    </a>
</div>
