@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1>
    <p>Discover a curated collection of films, handpicked by Joel Hilton himself.</p>
    <p>Get to know Joel and his passion for movies by visiting the <a href="/Home/AboutJoel">Get to Know Joel</a> page.</p>
    <p>Ready to add a movie to the collection? Click <a asp-controller="Home" asp-action="MovieEntry">here</a> to contribute.</p>
</div>
